<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SuppliesReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <SuppliesReport.Properties.Settings>
      <setting name="ExcelDataFilePath" serializeAs="String">
        <value>Docs\Data\Данные.xlsx</value>
      </setting>
      <setting name="TemplatesDirectoryPath" serializeAs="String">
        <value>Docs\Templates\</value>
      </setting>
      <setting name="TemplateActEliminationFileName" serializeAs="String">
        <value>Шаблон Акт ликвидации.docx</value>
      </setting>
      <setting name="TemplateActInspectionFileName" serializeAs="String">
        <value>Шаблон Акт проверки и осмотра.docx</value>
      </setting>
      <setting name="TemplateActWritingOffFileName" serializeAs="String">
        <value>Шаблон Акт списания.docx</value>
      </setting>
      <setting name="TemplateOrderWritingOffFileName" serializeAs="String">
        <value>Шаблон Приказ о списании.docx</value>
      </setting>
      <setting name="TemplateProtocolSessionFileName" serializeAs="String">
        <value>Шаблон Протокол заседания комиссии.docx</value>
      </setting>
      <setting name="OutputDirectoryPath" serializeAs="String">
        <value>Docs\</value>
      </setting>
      <setting name="WritingoffInventorynameHelpString" serializeAs="String">
        <value> Инв. № </value>
      </setting>
      <setting name="TemplateReportFileName" serializeAs="String">
        <value>Шаблон Отчет.docx</value>
      </setting>
      <setting name="TemplateSupplyPopFileName" serializeAs="String">
        <value>Шаблон Снятие с довольствия.docx</value>
      </setting>
      <setting name="TemplateSupplyPushFileName" serializeAs="String">
        <value>Шаблон Постановка на довольствие.docx</value>
      </setting>
    </SuppliesReport.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="FormContext" connectionString="metadata=res://*/EntityModel.FormModel.csdl|res://*/EntityModel.FormModel.ssdl|res://*/EntityModel.FormModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=UTF8;data source=192.168.1.1;initial catalog=Z:\Mash\new_form\base\FORM2015-1.GDB;user id=sysdba;password=masterkey;datasource=192.168.1.1;database=G:\WORK\Mash\new_form\base\FORM2015-1.GDB&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>